.card-product {
    width: 100%;
    min-height: 100px;
    position: relative;
    display: inline-block;
}

.card-product img {
    width: 100%;
    height: 300px;
}
  
.card-product .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card-product:hover .img-top {
    display: inline;
}

.sales {
    position: absolute;
    z-index: 1000;
    bottom: 0;
}
  
.sales span {
    background-color: #c73b37;
    padding: 3px;
    border-top-right-radius: 5px;
    color: white;
}